@font-face {
  font-family: 'SF Pro Rounded';
  src: url(./fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.otf);
}

.App {
  text-align: center;
  min-height: 844px;
  display: flex;
  flex-direction: column;
}

h3.sub {
 text-align: left;
 margin-left: 10px;
 font-family: 'SF Pro Rounded';
 letter-spacing: 0.02em
}

.flex-container {
  display: flex;
  justify-content: center;
  
  align-items: stretch;
}
.invisible {
  display: none;
  height: none;
}

body {
  background: #edeef5;
  padding: 20px;
}

.summonHeader {
  margin-top: 7px;
}

.summonHeaderText {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0.02em;

  color: #181c40;
}

.tabs {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #464966;
  margin-top: 55px;
}




.selected {
  border-bottom: 2px solid #181c40;
  color: #181c40;
}

.tabsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button.connect {
  min-width: 30px;
  min-height: 30px;
  border-radius: 100%;
  position: absolute;
  margin-left: 20px;
  top: 55px;
}

button.notConnected {
  background: red;
}
button.connected {
  background: green;
}
img.NFTCardImage, video.NFTCardImage {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
div.NFTCardContainer {
  display: flex;
  flex-direction: row;
  margin: 15px 10px;
  justify-content: space-between;
  /* align-items: center; */
}

div.NFTCardLeft {
  display: flex;
  flex-direction: row;

  overflow: hidden;
  white-space: nowrap;
}

div.NFTCardTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

div.NFTNameText {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-align: left;

  color: #181c40;
}

div.collectionTitleText {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.02em;
  text-align: left;

  color: #464966;

  margin-top: 14px;
}

.Button {
  background: #5d69d6;
  border-radius: 15px;
  min-width: 110px;
  max-width: 250px;
  min-height: 39px;
  max-height: 39px;

  /* font stuff */
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px; /* identical to box height */
  letter-spacing: 0.02em;
  color: #f1f2fb;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  /* padding: 5px 15px; */
  align-self: center;
}

.backgroundBright {
  background: #2A3FFE;
}

.LendingPage {
  min-height: 844px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.lendingHeader {
 display: flex;
 flex-direction: row;
 align-self: stretch;
align-items: center;
} 


.lendingHeaderTitle {
font-family: 'SF Pro Rounded';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* identical to box height */
letter-spacing: 0.02em;
color: #181C40;
position: absolute;
width: calc(100% - 40px);



}

div.backButton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* background-color: #bebebe; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 69;
}

img.backButton {
  max-height: 33px
}

.lendingStatusHeader {
font-family: 'SF Pro Rounded';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 76px;
letter-spacing: 0.02em;
color: #181C40;


}

.lendNFTCardImage {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: contain;
}

.lendingNFTCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lendingNFTTitle {
  font-family: 'SF Pro Rounded';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #181C40;
margin: 10px auto;
}

.lendingCollectionName {
 font-family: 'SF Pro Rounded';
font-size: 13px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #464966;

}

.lendingTo {

  font-size: 32px;
line-height: 38px;
letter-spacing: 0.02em;

color: #181C40;
}

.walletConnectContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}

.walletConnectLogo {
  max-width: 70px;
  max-height: 40px;
  align-self: center;
  padding: 35px;
}

input[type=text] {
 border: 2px solid #8F91A4;
 border-radius: 8px;
 background-color: #EDEEF5;
 color: #464966;
 outline: none;
 padding: 12px;
}

input.invalidInput {
  border: 2px solid red;
}



.tabContainer {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
} 


/* 

div.borrow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* create react app stuff below */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
