.App {
  text-align: center;
}

body {
  background: #EDEEF5;
}

.summonHeader {
  margin-top: 27px;
}

.summonHeaderText {
  font-family: 'SF Pro Rounded';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 76px;
letter-spacing: 0.02em;

color: #181C40;
}

.tabs {
  font-family: 'SF Pro Rounded';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;
color: #464966;
margin-top: 55px;
}

.selected {
  border-bottom: 2px solid #181C40;
  color: #181C40;

}

.tabsContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}


button.connect {
  min-width: 30px;
  min-height: 30px;
  border-radius: 100%;
  position: absolute;
  margin-left:20px;
  top: 55px
}

button.notConnected {
  background: red
}
button.connected {
  background: green
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
