.App {
  text-align: center;
}

body {
  background: #edeef5;
}

.summonHeader {
  margin-top: 27px;
}

.summonHeaderText {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0.02em;

  color: #181c40;
}

.tabs {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #464966;
  margin-top: 55px;
}

.selected {
  border-bottom: 2px solid #181c40;
  color: #181c40;
}

.tabsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button.connect {
  min-width: 30px;
  min-height: 30px;
  border-radius: 100%;
  position: absolute;
  margin-left: 20px;
  top: 55px;
}

button.notConnected {
  background: red;
}
button.connected {
  background: green;
}
img.NFTcardImage, video.NFTcardImage {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
div.NFTcardContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}

div.NFTcardLeft {
  display: flex;
  flex-direction: row;
}

div.NFTcardTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

div.NFTnameText {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #181c40;
}

div.collectionTitleText {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.02em;
  text-align: left;

  color: #464966;

  margin-top: 14px;
}

.NFTlistButton {
  background: #5d69d6;
  border-radius: 15px;



  /* font stuff */
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px; /* identical to box height */
  letter-spacing: 0.02em;
  color: #f1f2fb;

  padding: 10px 30px 10px 30px
}

.backgroundBright {
  background: #2A3FFE;
}

/* create react app stuff below */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
